<div class="app">
  <h1>Beesoftlabs Vanilla JS Redux</h1>
  <div class="container">
    <button id="increaseCounterButton" (click)="appFacade.increaseCounter()"> +
      ({{appFacade.increaseClicks$ | async}})
    </button>
    <span id="countLabel">
      {{appFacade.count$ | async}}
    </span>
    <button id="decreaseCounterButton" (click)="appFacade.decreaseCounter()"> -
      ({{appFacade.decreaseClicks$ | async}})
    </button>
  </div>
  <a routerLink="/task">Ir a tasks</a>
  <router-outlet></router-outlet>
</div>
